@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

header {
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(194, 194, 194);
    padding: 10px;
}

a {
    text-decoration: none !important;
    color: black !important;
    font-size: 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedorListaCursos {
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.contadorElementosCarrito {
    display: inline-block;
    width: 2em;
    text-align: center;
    outline: none;
    background-color: brown;
    border-radius: 50px;
}

.imagenCurso {
    width: 100px;
}

.botones {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#botonVerInfo,#botonComprar {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
}

.cartBtn {
    background-color: transparent !important;
    border: transparent !important;
    border-radius: 5px !important;
}