@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
}

header{
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(194, 194, 194);
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


h1 {
    text-align: center;
    font-size: 3rem;
}

.contenedorListaCursos {
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.imagenCurso{
    width: 100px;
}

.botones {
    display: flex;
    flex-direction: column;
    width: 50%;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}